build/
.venv/
__pycache__/
*.pyc
.pytest_cache/
python/nasa95/*.pyd
python/nasa95/*.pdb
.vs/
CMakeUserPresets.json
python/nasa95/_dll_dirs.txt
python/nasa95/*.pyd.*
python/nasa95/*.pyd
*.pyd.old*
*.pyd.inuse
